.parent
{
position:fixed;
border:2px solid #042331;
width:500px;
height:500px;
left:500px;
background-color:#042331;
color:white;
margin-top:100px;
opacity:0.8;
}
.btn
{
margin-top:15px;
border:black;
color:white;
background-color:black;
font-size:25px;
}
.form
{
padding-top:20px;
font-size:20px;
color:white;
}
label
{
	margin-right:20px;
}
body
{
background-image:url(http://localhost/ams/images/student2.jpg);
background-repeat:no-repeat;
background-size:cover;
}