<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme">
body{
font-family:Acme;
}
.student{
position:fixed;
background-color:#042331;
width:100%;
height:100px;
left:0px;
top:0px;
}
.student h1{
	text-align:center;
	font-size:50px;
	color:white;
	
}
.parent{
position:fixed;
background-color:#042331;
width:100%;
height:100px;
left:0px;
top:0px;
}
.parent h1{
	text-align:center;
	font-size:50px;
	color:white;
	
}
.contact{
position:fixed;
background-color:#042331;
width:100%;
height:100px;
left:0px;
top:0px;

}
.contact h1{
	text-align:center;
	font-size:50px;
	color:white;
	
}
.actual{
	position:absolute;
width:600px;
height:600px;
border:2px solid #063146;
left:450px;
top:110px;
background-color:#063146;
opacity:0.9;
}
.btn
{
	background-color:#063146;
	color:white;
	margin-top:5px;
	font-size:20px;
	border-color:#063146;
}
#id1
{
color:white;
}
.img{
width:70px;
height:70px;
}
.menu{
position:fixed;
/*background-color:black;*/
width:100%;
height:70px;
left:0px;
top:0px;
margin-top:90px;

}
.button{
color:black;
border:none;
font-size:25px;
margin-top:10px;
margin-left:60px;
margin-right:45px;
border-radius:0px;
display:inline-block;
padding-top:15px;
padding-bottom:15px;
padding-right:15px;
padding-left:15px;
}
img{
width:100%;
height:100%;
opacity:0.7;
}
/*body{
background-image:url(faculty.png);
background-repeat:no-repeat;
background-size:cover;
}*/